.modal-login {
  width: 100%;
  max-width: 600px;
  position: fixed;
  border-radius: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3d3d3d;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 72px;
  color: #ffffff;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.modal-title {
  text-align: center;
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
}

.enter-button {
  padding: 16px 48px;
  background: var(--btn-bg); 
} 

.enter-button:hover { 
  background-color: #555555;
  color: #eaeaea; 
} 

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.modal-form fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-form input {
  padding: 16px;
  border: 0;
  outline: none;
}

.enter-with-google-button { 
  color: var(--btn-text);
  background: var(--btn-bg);
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
}

.enter-with-google-button:hover {
   background-color: #555555;
  color: #eaeaea; 
}

legend {
  text-align: center;
}

.googleIcon {
  padding: 4px;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 50%;
}

.close-icon {
  width: 36px;
}

@media (max-width: 960px) {
  .modal-login {
    padding: 72px 32px;
  }
}