.modal-login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(191, 219, 242, 0.9); 
  backdrop-filter: blur(10px);           
  -webkit-backdrop-filter: blur(10px); 
  padding: 72px; 
  color: #000;
}

.modal-form {
  display: flex;
  flex-direction: column; 
  gap: 36px;
}

.modal-title {
  text-align: center;
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
}

.enter-button {
  padding: 16px 48px; 
  background-color: #44c42b; 
  height: 68px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.modal-form fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-form input {
  padding: 16px;
  border: 0;
  outline: none;
}

.enter-with-google-button {
  padding: 16px 48px;
  color: #fff;
  background-color: #5185ed;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center; 
}

legend {
  text-align: center;
}

.googleIcon {
  padding: 4px;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 50%;
}

.close-icon {
  width: 36px;
}