.quote-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.quote-text {
  max-width: 369px;
}

.quote-author {
  font-style: italic;
  color: grey;
}

@media (max-width: 960px) {
  .quote-container {
    align-items: center;
  }
  .quote-container h2 {
    text-align: center;
  }
}