.footer-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-section-list {
  list-style-type: none;
}

@media (max-width: 960px) {

  .footer-section-title {
    font-size: 32px;
  }

  .footer-section-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .footer-link-text {
    font-size: 24px; 
  }
}