.blog-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.blog-page img,
.blog-page svg {
  max-width: 1440px;
  width: 100%;
  height: auto;
}

.goHomeButton {
  position: absolute;
  top: 1300px;
}