.currency-items {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.currency-date {
  margin-top: 16px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px 12px;
  text-align: left;
}

.select-field {
  padding: 16px 40px 16px 16px;  
  outline: none;
  border: 0;
  border-radius: 8px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; 
  background-image: url("data:image/svg+xml,%3Csvg fill='white' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 12px;
  cursor: pointer;
}



@media (max-width: 960px) {

  th,
  td {
    text-align: center;
  }

}