.currency-items {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.currency-date {
  margin-top: 16px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px 12px;
  text-align: left;
}

.select-field {
  padding: 16px;
  outline: none;
  border: 0;
  border-radius: 8px; 
}


@media (max-width: 960px) {

  th,
  td {
    text-align: center;
  }

}