.main-items { 
  padding: 0 16px;
  border-left: 2px solid rgb(129, 129, 129, 0.2); 
  border-right: 2px solid rgb(129, 129, 129, 0.2); 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 140px; 
}
 
.main-title {
  padding-top: 24px;
}

.article-section {
  margin-bottom: 48px;
}