.about-us {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 32px;
  align-items: center;
  margin-bottom: 140px;
}

.reporter-image {
  max-width: 640px;
  height: auto;
  float: left;
  margin-right: 48px;
}

.figure-container {
  display: flex;
  align-items: center;
}

.about-us-description {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.about-us-description figcaption {
  font-size: 18px;
}

.go-back-to-homepage-btn {
  max-width: 250px;
  padding: 16px 48px;
}

@media (max-width: 960px) {
  .figure-container {
    flex-direction: column;
    gap: 32px;
  }

  .reporter-image {
    max-width: 90%; 
    margin: 0 auto;
  }

  .figure-container {
  padding: 0 16px;
}
}