 .article-card {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .article-image {
  width: 100%;
 }
 
 .news-description {
  display: block;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
  overflow: visible;  
}