.events-page {
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
}

.events-page img,
.events-page svg {
  max-width: 1440px;
  width: 100%;
  max-height: auto;
}

.goHomeButton {
  position: absolute;
  top: 1300px;
}