.adImage {
  max-width: 369px;
  min-height: 350px;
  object-fit: cover;
}

@media (max-width: 960px) {
  .aside-right-items {
    margin: 0 auto;
  }

  .adImage {
    max-width: 369px;
    max-height: 350px;
    object-fit: cover;
  }
}