.header-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-bottom: 2px solid rgb(129, 129, 129, 0.2);
}

.header-items {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.login-button {
  padding: 13px 48px;
  border-radius: 8px;
  white-space: nowrap;
  background: var(--btn-bg);
  color: var(--btn-text);
}

.login-button:hover {
  background-color: #57595B; 
  color: white;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.about_us-button {
  padding: 13px 48px;
  border-radius: 8px;
  white-space: nowrap; 
  color: var(--text);
  background-color: transparent;
}

.nav {
  display: flex;
  gap: 16px;
  flex: 1
}

.burger {
  display: none;
}

.theme-button {
  background: var(--btn-bg); 
  border-radius: 50%;
  margin: 0;
}


@media (max-width: 960px) {
  .nav {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    background: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    gap: 12px;
  }

  .nav.open {
    min-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .header-buttons {
    display: flex;
    flex-direction: column;
  }

  .burger {
    display: block;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: black
  }
}