.header__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-bottom: 2px solid rgb(129, 129, 129, 0.2);
}

.header__items {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.loginButton {
  padding: 13px 48px;
  border-radius: 50px;
  white-space: nowrap;
  border: 1px solid black;
  color: black;
  background-color: transparent;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.about_us-button {
  padding: 13px 48px;
  border-radius: 50px;
  white-space: nowrap; 
  color: black;
  background-color: transparent;
}