 .article-card {
   max-width: 760px;
   width: 100%;
   display: flex;
   flex-direction: column; 
   align-items: center; 
   gap: 24px;
   margin: 0;
 }

 .article-image {
   width: 100%;
   object-fit: cover;
 }

 .article-title {
   font-size: 24px;
   font-weight: 600;
   margin: 0;
 }

 .article-link {
   display: flex;
   flex-direction: column;
   cursor: pointer;
 }

 .creator {
   font-style: italic;
 }
 
 .description {
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden; 
 }

 .btn-read {
  width: 100%;
}

.read-link {
  width: 100%;
  display: block;
} 

 @media (max-width: 480px) {

   .article-card {
     max-width: 380px;
     gap: 12px;
   }
 }