.aside-left {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
  padding: 0 32px 0 0;
}

.aside-left-items {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
 
@media (max-width: 960px) {
  .aside-left {
    max-width: 100%;
  }

  .aside-left-items {
    min-width: 100%;
  }

  .aside-title {
    text-align: center;
  }
}