 
.register-form {  
  width: 100%;
  max-width: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(191, 219, 242, 0.9);
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  padding: 72px;
  color: hsl(0, 0%, 0%);
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.register-items {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.register-items label {
  display: flex;
  flex-direction: column;
}

.register-items input { 
  padding: 16px; 
  border: 0;
  outline: none;
}

@media (max-width:960px) {
  .register-form {
    padding: 32px;
    gap: 24px;
  }

  .register-items {
    gap: 24px;
  }

  .register-items input {
    padding: 12px;
  }
}