.footer-container {
  max-width: 1920px;
  margin: 64px auto 0;
  padding: 96px 48px 32px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: aliceblue;
}

.footer-items {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: none;
}

.social-links {
  display: flex;
  gap: 48px;
  margin: 96px auto;
  flex-wrap: wrap;
  justify-content: center;
}
  
.social-links img {
  width: 36px;
  height: 36px; 
  filter: grayscale(1) invert(0.5);
  transition: transform 0.3s; 
}
 
.social-links img:hover { 
  filter: saturate(1); 
  transform: scale(1.2);
} 

.footer-copyright {
  margin: 0 auto;
  text-align: center;
  display: flex;
  gap: 24px;
  color: #a9a9a9;
}

.footer-terms,
.footer-policy {
  color: #a9a9a9;
}

.footer-terms,
.footer-policy {
  color: #a9a9a9;
  font-weight: 500;
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

.footer-terms:hover,
.footer-policy:hover {
  color: #ffffff;
  opacity: 1;
}

@media (max-width: 960px) {
  .footer-container {
    align-items: center;
    padding: 64px 16px 32px;
  }

  .footer-items {
    display: none;
    flex-direction: column;
    gap: 12px;
    padding: 16px 0;
  }

  .footer-items.open {
    display: flex;
    gap: 36px;
    align-items: center;
  }

  .menu {
    margin-top: 32px;
    display: flex;
    gap: 8px;
    color: black;
    background: none;
    border: none;
    font-size: 48px;
    cursor: pointer;
    margin-bottom: 12px;
  }

  .social-links {
    margin-top: 48px;
  }
}