.footer-container {
  max-width: 1440px;
  margin: 0 auto;
}

.footer-items {
  padding-top: 140px;
  display: flex;  
  justify-content: space-between; 
}

.social-links {
  display: flex;
  gap: 24px;
}

.not-found-button {
  padding: 16px;
  background-color: aqua;
}