.header-search {
  display: flex;
  flex: 1;
}

.header-search input {
  flex: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.input-search { 
  background: var(--input-bg);
  border: 1px solid var(--input-border);
  color: var(--text);
  padding: 16px;
  border-radius: 8px 0 0 8px;
  transition: 0.25s;
}

.input-search:focus {
  outline: none;
}

input::placeholder {
  font-size: 18px;
}