.wrapper {
  max-width: 1440px;
  margin: 0 auto;  
  padding: 0 16px;
}

.main-wrapper { 
  display: flex; 
  justify-content: space-between;
}
 
.footer-wrapper {
  background-color: #f0f3f5; 
  padding: 0 16px;
}
