* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-size: 18px;
}

:root {
  font-family: Helvetica, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(19, 19, 19, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}
 
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
}

p {
  margin: 0;
}

button {  
  font-size: 20px;
  font-weight: 600;
  box-shadow: none; 
  border: none; 
  cursor: pointer;
}