* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

:root {
  font-family: Helvetica, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(19, 19, 19, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg: #fff;
  --text: #2b2b2b;
  --btn-bg: #2b2b2b;
  --btn-text: #f3f3f3;
  --input-bg: #fff;
  --input-border: #ccc;
}

body.dark {
  --bg: #1e1e1e;
  --text: #f5f5dc;
  --btn-bg: #d8d8d8;
  --btn-text: #2b2b2b;
  --input-bg: #2b2b2b;
  --input-border: #555;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
}

p {
  margin: 0;
}

button {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  background: var(--btn-bg);
  color: var(--btn-text);
  padding: 10px 16px;
  border-radius: 6px;
  transition: 0.25s;
  border: none;
}

input,
textarea {
  background: var(--input-bg);
  border: 1px solid var(--input-border);
  color: var(--text);
  padding: 10px;
  border-radius: 6px;
  transition: 0.25s;
}

.wrapper {
  background: var(--bg);
  color: var(--text);
  transition: 0.3s;
}